<div class="container">
  <div class="row">
    <div class ="login-form col-lg-offset-4 col-lg-4 col-xs-offset-3 col-xs-6">
     <i class="fas fa-user fa-5x">LOGIN</i>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email",size: 50 %>
          </div>

          <div class="password">
            <%= f.password_field :password, autocomplete: "current-password",placeholder: "PASSWORD",size: 50 %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="check_box">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="login">
            <%= f.submit "Log in", class: "btn btn-success btn-block" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>